In [1]:
import pandas as pd
import os

data_directory = "/nfs/workspace/data/ssi/preprocessing"

In [2]:
combined_directory = os.path.join(data_directory, "03-combined")

In [3]:
combined_files= [os.path.join(combined_directory, filename) for filename in os.listdir(combined_directory)]
combined_files

['/nfs/workspace/data/ssi/preprocessing/03-combined/receipts_ah_202301.parquet',
 '/nfs/workspace/data/ssi/preprocessing/03-combined/ssi_plus_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/03-combined/receipts_plus_202201_Prd.parquet',
 '/nfs/workspace/data/ssi/preprocessing/03-combined/ssi_ah_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/03-combined/ssi_lidl_revenue.parquet']

In [4]:
plus_df = pd.read_parquet(combined_files[1], engine="pyarrow")
plus_df.head()

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
0,901027,202107,11110,Rijst,11110701,Rijst,3711,Witte rijst,43675579,2270950000000,## BIO TOVERRIJST,5.81,7.0
1,901027,202107,11110,Rijst,11110701,Rijst,3711,Witte rijst,43896123,2271870000000,## SNELKOOKRIJST,1.20,2.0
2,901027,202107,11110,Rijst,11110701,Rijst,3711,Witte rijst,43259183,2271940000000,## SNELKOOKRIJST,1.20,2.0
3,901027,202107,11110,Rijst,11110701,Rijst,3711,Witte rijst,26248778,2272590000000,## RIJST,13.53,11.0
4,901027,202107,11110,Rijst,11110701,Rijst,3711,Witte rijst,43675979,2274280000000,## BIO TOVERRIJST,3.32,4.0

In [5]:
len(plus_df)

5817129

In [6]:
plus_df.describe(include="all")

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
count,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5.817129e+06,5.817129e+06
unique,1,26,84,84,153,151,1302,1132,775661,160335,342340,NaN,NaN
top,901027,202212,999999,Onbekend,999999701,Niet in te delen,5460,Overig,9532720,2270010000000,## RUNDERGEHAKT,NaN,NaN
freq,5817129,252870,708262,708262,702352,702352,90795,96617,26,4938,11959,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232020e+03,6.733363e+02
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.149430e+04,8.771138e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.590000e+00,2.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.144000e+01,4.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.957000e+01,2.000000e+01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.177922e+06,8.644341e+07

In [7]:
lidl_df = pd.read_parquet(combined_files[-1], engine="pyarrow")
lidl_df.head()

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
0,908515,201801,11110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3185518,92775.0,Sushi rijst,0.990000,1.0
1,908515,201801,11110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183385,22571.0,Italiaanse Risotto gesorteerd,4150.209961,2565.0
2,908515,201801,11110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183851,51009.0,Rijst zilvervlies 1kg,169094.890625,121651.0
3,908515,201801,11110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183852,51010.0,Rijst wit 1kg,78635.203125,66080.0
4,908515,201801,11110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183945,55571.0,Traditionele basmati rijst XXL,473773.781250,67783.0

In [8]:
len(lidl_df)

414647

In [9]:
lidl_df.describe(include="all")

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
count,414647,414647,414647,414647,414647,414647,414647,414647,414647,414647,414647,4.146470e+05,4.146470e+05
unique,1,68,83,83,84,83,835,1497,41096,40674,31751,NaN,NaN
top,908515,202005,999999,Onbekend,999999701,onbekend,70_10,Gebäck/Knabberwaren_Süßgebäck,3183644,nan,Jurk,NaN,NaN
freq,414647,7956,82275,74475,82275,82275,8258,7546,56,390,644,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.811138e+04,4.647959e+04
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.125459e+05,2.107504e+05
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,1.000000e-03
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.720000e+02,4.200000e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.180902e+04,3.633000e+03
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.201410e+04,3.969900e+04
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.800737e+07,2.198353e+07

In [10]:
ah_df = pd.read_parquet(combined_files[-2], engine="pyarrow")
ah_df.head()

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
0,470111,202107,11110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4926783,6803573320186,alesie pandan rijst,6625.299805,3408.0
1,470111,202107,11110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4922145,8715071077050,unirice longgrain rijst,1328.479980,432.0
2,470111,202107,11110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4933687,8908004963111,mehnat basmati rice,3599.879883,664.0
3,470111,202107,11110,Rijst,011110701,Rijst,181400,grootverpakking rijst,5006102,8908004963135,mehnat basmati rice,8165.569824,708.0
4,470111,202107,11110,Rijst,011110701,Rijst,181400,grootverpakking rijst,5006103,8908004963210,mehnat basmati rice,92.629997,8.0

In [11]:
len(ah_df)

2949737

In [12]:
ah_df.describe(include="all")

,bg_number,month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount
count,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2.949737e+06,2.949737e+06
unique,3,30,104,104,550,377,3175,2639,231902,136564,70960,NaN,NaN
top,470112,202312,999999,Onbekend,9999992201,Divers/buiten scope,0,ONBEKEND,4937245,8710400653721,LOKAAL ARTIKEL,NaN,NaN
freq,1557462,103358,775911,775911,270310,530920,419500,419500,30,120,419479,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.344192e+04,6.072181e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178699e+04,3.230076e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,1.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.981000e+01,1.100000e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.813300e+02,1.790000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.572620e+03,2.864000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.298175e+07,4.902576e+06

# Preprocessed

In [13]:
preprocessed_directory = os.path.join(data_directory, "04-preprocessed")

In [14]:
preprocessed_files = [os.path.join(preprocessed_directory, filename) for filename in os.listdir(preprocessed_directory)]
preprocessed_files

['/nfs/workspace/data/ssi/preprocessing/04-preprocessed/receipts_ah_202301.parquet',
 '/nfs/workspace/data/ssi/preprocessing/04-preprocessed/ssi_plus_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/04-preprocessed/receipts_plus_202201_Prd.parquet',
 '/nfs/workspace/data/ssi/preprocessing/04-preprocessed/ssi_ah_revenue.parquet',
 '/nfs/workspace/data/ssi/preprocessing/04-preprocessed/ssi_lidl_revenue.parquet']

In [15]:
plus_df = pd.read_parquet(preprocessed_files[1], engine="pyarrow")
plus_df.head()

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
0,901027,202107,011110,Rijst,11110701,Rijst,3711,Witte rijst,43675579,2270950000000,## BIO TOVERRIJST,5.81,7.0,2021,07,01,011,0111,01111
1,901027,202107,011110,Rijst,11110701,Rijst,3711,Witte rijst,43896123,2271870000000,## SNELKOOKRIJST,1.20,2.0,2021,07,01,011,0111,01111
2,901027,202107,011110,Rijst,11110701,Rijst,3711,Witte rijst,43259183,2271940000000,## SNELKOOKRIJST,1.20,2.0,2021,07,01,011,0111,01111
3,901027,202107,011110,Rijst,11110701,Rijst,3711,Witte rijst,26248778,2272590000000,## RIJST,13.53,11.0,2021,07,01,011,0111,01111
4,901027,202107,011110,Rijst,11110701,Rijst,3711,Witte rijst,43675979,2274280000000,## BIO TOVERRIJST,3.32,4.0,2021,07,01,011,0111,01111

In [16]:
len(plus_df)

5817129

In [17]:
plus_df.describe(include="all")

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
count,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5817129,5.817129e+06,5.817129e+06,5817129,5817129,5817129,5817129,5817129,5817129
unique,1,26,84,84,153,151,1302,1132,775661,160335,342340,NaN,NaN,3,12,9,19,37,84
top,901027,202212,999999,Onbekend,999999701,Niet in te delen,5460,Overig,9532720,2270010000000,## RUNDERGEHAKT,NaN,NaN,2022,07,01,011,0112,99999
freq,5817129,252870,708262,708262,702352,702352,90795,96617,26,4938,11959,NaN,NaN,2630185,717889,4367680,4211493,1163926,708262
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.232020e+03,6.733363e+02,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.149430e+04,8.771138e+04,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.590000e+00,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.144000e+01,4.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.957000e+01,2.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.177922e+06,8.644341e+07,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
lidl_df = pd.read_parquet(preprocessed_files[-1], engine="pyarrow")
lidl_df.head()

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
0,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3185518,92775.0,Sushi rijst,0.990000,1.0,2018,01,01,011,0111,01111
1,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183385,22571.0,Italiaanse Risotto gesorteerd,4150.209961,2565.0,2018,01,01,011,0111,01111
2,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183851,51009.0,Rijst zilvervlies 1kg,169094.890625,121651.0,2018,01,01,011,0111,01111
3,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183852,51010.0,Rijst wit 1kg,78635.203125,66080.0,2018,01,01,011,0111,01111
4,908515,201801,011110,Rijst,11110901,Rijst,47_40,Grund-/Nähr-/Hilfsmittel/Frühstück_Reis,3183945,55571.0,Traditionele basmati rijst XXL,473773.781250,67783.0,2018,01,01,011,0111,01111

In [19]:
len(lidl_df)

413280

In [20]:
lidl_df.describe(include="all")

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
count,413280,413280,413280,413280,413280,413280,413280,413280,413280,413280,413280,4.132800e+05,4.132800e+05,413280,413280,413280,413280,413280,413280
unique,1,68,82,83,83,82,834,1497,41037,40659,31748,NaN,NaN,6,12,8,15,35,82
top,908515,202008,999999,Onbekend,999999701,onbekend,70_10,Gebäck/Knabberwaren_Süßgebäck,3182703,1493.0,Jurk,NaN,NaN,2020,05,01,011,9999,99999
freq,413280,7824,82275,73108,82275,82275,8258,7546,56,41,644,NaN,NaN,89545,36916,196848,177152,82275,82275
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.830840e+04,4.662425e+04,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.128613e+05,2.110821e+05,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,1.000000e-03,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.745650e+02,4.200000e+01,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.200731e+04,3.706500e+03,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.231555e+04,3.987925e+04,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.800737e+07,2.198353e+07,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ah_df = pd.read_parquet(preprocessed_files[-2], engine="pyarrow")
ah_df.head()

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
0,470111,202107,011110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4926783,6803573320186,alesie pandan rijst,6625.299805,3408.0,2021,07,01,011,0111,01111
1,470111,202107,011110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4922145,8715071077050,unirice longgrain rijst,1328.479980,432.0,2021,07,01,011,0111,01111
2,470111,202107,011110,Rijst,011110701,Rijst,181400,grootverpakking rijst,4933687,8908004963111,mehnat basmati rice,3599.879883,664.0,2021,07,01,011,0111,01111
3,470111,202107,011110,Rijst,011110701,Rijst,181400,grootverpakking rijst,5006102,8908004963135,mehnat basmati rice,8165.569824,708.0,2021,07,01,011,0111,01111
4,470111,202107,011110,Rijst,011110701,Rijst,181400,grootverpakking rijst,5006103,8908004963210,mehnat basmati rice,92.629997,8.0,2021,07,01,011,0111,01111

In [22]:
len(ah_df)

2949737

In [23]:
ah_df.describe(include="all")

,store_id,year_month,coicop_number,coicop_name,isba_number,isba_name,esba_number,esba_name,rep_id,ean_number,ean_name,revenue,amount,year,month,coicop_level_1,coicop_level_2,coicop_level_3,coicop_level_4
count,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2949737,2.949737e+06,2.949737e+06,2949737,2949737,2949737,2949737,2949737,2949737
unique,3,30,104,104,550,377,3175,2639,231902,136564,70960,NaN,NaN,3,12,10,17,36,104
top,470112,202312,999999,Onbekend,9999992201,Divers/buiten scope,0,ONBEKEND,4937245,8710400653721,LOKAAL ARTIKEL,NaN,NaN,2023,12,01,011,9999,99999
freq,1557462,103358,775911,775911,270310,530920,419500,419500,30,120,419479,NaN,NaN,1182808,306409,1099136,949053,775911,775911
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.344192e+04,6.072181e+03,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178699e+04,3.230076e+04,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.981000e+01,1.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.813300e+02,1.790000e+02,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.572620e+03,2.864000e+03,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.298175e+07,4.902576e+06,NaN,NaN,NaN,NaN,NaN,NaN